// @use "vuetify/styles" with (
//   $body-font-family: "DM Sans",
//   $border-radius-root: 5px
// );
@use "vuetify/styles";
//@import "vuetify/styles";
//@import "vuetify/src/styles/styles.sass";
@import "./variables";
@import "./override";
@import "./layout/container";
@import "./layout/sidebar";
@import "./layout/topbar";
@import "./pages/dashboards";

@font-face {
    font-family: 'ProximaNova';
    src: $font-thin;
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: $font-light;
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: $font-regular;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: $font-semibold;
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: $font-bold;
    font-weight: 700;
    font-style: normal;
}
// @font-face {
//     font-family: 'ProximaNovaMedium';
//     src: $font-medium;
//     font-weight: normal;
//     font-style: normal;
// }
@font-face {
    font-family: 'ProximaNova';
    src: $font-black;
    font-weight: 900;
    font-style: normal;
}